
<div class="jumbotron main">
    <h2> TANKT G.M Beriev</h2>
    <p>
        The Future of russian sea aviation
    </p>
    <p><a href="http://www.beriev.com/rus/core.html" class="btn btn-primary btn-lg" role="button"> Learn more </a></p>

</div>
<div class="container planes">
    <div class="row">
        <div class="col-md-4">
            <h3> Be-200 </h3>
            <img src="~/Content/be200.jpg" alt="be200" />
            <p> Seaplane . It created for extinguishing forest fires  </p>
        </div>

        <div class="col-md-4">
            <h3> Бе-103 </h3>
            <img src="~/Content/be103.jpg" alt="be103" />
            <p>
                light seaplane be103 creater for rescue&exploring operations.
            </p>
        </div>

        <div class="col-md-4">
            <h3> A-50 </h3>
            <img src="~/Content/A-50.jpg" alt="A50" />
            <p>
                Military plane . Created to detect and identify the nationality of aircrafts or land targets.
            </p>
        </div>
    </div>
</div>


